doctype html
html
  head
    meta(name='viewport', content='width=device-width, user-scalable-no', charset='UTF-8')
    title 프로그라피드백
    link(rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Lobster')
  body
    #header
      h1 
        a.headlink(href='/') PrograFeedback
    .container
    i.fa.fa-trash.fa-2x(onclick='deleteRoom()')
    botton.btn.btn-primary(type='submit', onclick="javascript:document.location='http://prografeed.com/#{pptname}'") Full
      style.
        body { width: 90vw; margin: 0 auto; font-family: "Helvetica Nene", Helvetica, Arial, sans-serif; font-size: 14px; color: #333; line-height: 1.42857143; margin-top:4vh; }
        #header { position: relative; display: block; width: 100%; }
        h1 { font-family: 'Lobster', cursive;}
        .headlink { text-decoration: none; color: inherit; }
        iframe { float: left; width: 90vw; }
        embed { float: left; width: 90vw; }
        .fa-trash { margin: 10px; display: none; }
        .btn { width: 30px; height: 14px; line-height: 14px; background-color: #65C7D0; color: white; padding: 5px; text-align: center; border: 1px solid white; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-size: 8px; font-family: 'Lobster', cursive; vertical-align: middle; display: inline-block; margin-top: 10px; margin-bottom: 20px; margin-left: 5px; visibility: hidden; }
    script(src='/javascripts/socket.io.js')
    script(src='/javascripts/jquery.min.js')
    script.
      window.oncontextmenu = function(event) {
        event.preventDefault()
        event.stopPropagation()
        return false
      }
      $(window).on('resize', function() {
        reg_pptx = /pptx/
        reg_pdf = /pdf/

        var width = (window.innerWidth > 0) ? window.innerWidth : screen.width

        if(width > 640) {
          if (reg_pptx.test("!{pptname}")) {
            if($("iframe").length == 0) $(".container").prepend("<iframe src='https://view.officeapps.live.com/op/embed.aspx?src=http://prografeed.com/!{pptname}' frameborder='0'>")
            $("iframe").height($("iframe").width()*8.9/16)
            $("#side").height($("iframe").width()*8.9/16)
          }
          if (reg_pdf.test("!{pptname}")) {
            if($("embed").length == 0) $(".container").prepend("<embed src='http://prografeed.com/!{pptname}' type='application/pdf'>")
            $("embed").height($("embed").width()*8.9/16)
            $(".btn").css("visibility", "visible")
          } 
            $("h1").css("font-size", "40px")
            $("h1").css("margin-bottom", "30px")
        } else {
          $("h1").css("font-size", "20px")
          $("h1").css("margin-bottom", "10px")
          if($("iframe")) $("iframe").remove()
          if($("embed")) $("embed").remove()
        }

      })
      $(function(){
        if("!{nickname}" == "!{owner.nickname}") {
          $(".fa-trash").css({"display": "inline-block"})
        }

        reg_pptx = /pptx/
        reg_pdf = /pdf/

        var width = (window.innerWidth > 0) ? window.innerWidth : screen.width

        if(width > 640) {
          if (reg_pptx.test("!{pptname}")) {
            if($("iframe").length == 0) $(".container").prepend("<iframe src='https://view.officeapps.live.com/op/embed.aspx?src=http://prografeed.com/!{pptname}' frameborder='0'>")
            $("iframe").height($("iframe").width()*8.9/16)
          }
          if (reg_pdf.test("!{pptname}")) {
            if($("embed").length == 0) $(".container").prepend("<embed src='http://prografeed.com/!{pptname}' type='application/pdf'>")
            $("embed").height($("embed").width()*8.9/16)
            $(".btn").css("visibility", "visible")
          } 
          $("h1").css("font-size", "40px")
          $("h1").css("margin-bottom", "30px")
        } else {
          $("h1").css("font-size", "20px")
          $("h1").css("margin-bottom", "10px")
        }
      })
      function deleteRoom() {
        if (confirm("방을 삭제하시겠습니까?") == true) {
          $.ajax({
            url: '/deleteroom',
            dataType: 'json',
            type: 'POST',
            data: {'pptName': "!{pptname}"}, 
            success: function(result) {
              if(result['result'] == true) {
                $(location).attr('href', '/')
              } 
            }
          })
        } 
      }
