doctype html
html
  head
    meta(name='viewport', content='width=device-width, user-scalable-no', charset='UTF-8')
    title 프로그라피드백 룸
    link(rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Lobster')
  body
    .container
      #header
        h1 PrograFeedback
        img.balloonImg(src='/balloon.png')
        a.balloon balloon
        a.logout(href='/logout') logout
      table
        tr.row
          th.number no
          th.createdat created
          th.pptname ppt
          th.owner owner  
        each room, i in rooms
          tr.row.tdrow(onclick='chat(this, "#{room._id}")')
            td.number= rooms.length - i
            td.createdat= moment(room.created_at).format('MM/DD/YYYY HH:mm')
            td.pptname= room.ppt
            td.owner= room.owner.nickname
      #create
        i.fa.fa-plus-circle.fa-2x(onclick='plus()')
        form.create-form(action='/newppt' method='post' enctype="multipart/form-data")
          input#FileUpload(type='file' name='ppt')
          button.btn.create-btn(type="submit") create
        button.btn.cancel-btn(onclick='hide()') cancel
      if errmsg
        script.
          alert("!{errmsg}")
      style.
        body { width: 90vw; margin: 0 auto; font-family: "Helvetica Nene", Helvetica, Arial, sans-serif; color: #333; line-height: 1.42857143; margin-top:4vh; }
        .container { width: 100%; }
        #header { position: relative; display: block; width: 100%;}
        h1 { font-size: 40px; font-family: 'Lobster', cursive;}
        .balloonImg { position: absolute; right: 50px; bottom: 20px; width: 30px; height: 30px; }
        .balloon { position: absolute; right: 90px; bottom: 20px; font-family: 'Lobster', cursive; }
        .logout { position: absolute; right: 2px; bottom: 20px; font-family: 'Lobster', cursive; }
        table { width: 100%; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; margin-bottom: 30px; }
        th, td { padding: 10px; }
        td { border-bottom: 1px solid #ddd; }
        th { background-color: #65C7D0; color: #FFFFFF; }
        tr:nth-child(even) {background-color: #f2f2f2; }
        .tdrow:hover { background-color: #AED9DA; }
        .pptname { width: 70%; font-weight: bold; }
        #create { position: relative; height: 100px; }
        .fa-plus-circle { position: absolute; left: 5px; vertical-align: middle; }
        form { display: none; }
        #FileUpload { position: absolute; left: 50px; width: 200px; top: 5px;}
        .create-btn { position: absolute; left: 300px; vertical-align: middle; }
        .cancel-btn { position: absolute; left: 350px; vertical-align: middle; display: none; }
        .btn { width: 50px; height: 35px; background-color: #65C7D0; color: white; padding: 5px; text-align: center; border: 1px solid white; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-size: 8px; }
    script(src='javascripts/socket.io.js')
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/moment.min.js')
    script.
      $(window).on('resize', function() {
        var width = (window.innerWidth > 0) ? window.innerWidth : screen.width
        if (width > 640) {
          $("#header").css("height", "80px")
          $("#create").css("display", "block")
          $("h1").css("font-size", "40px")
          $("th").css("height", "20px")
          $("td").css("height", "20px")
          $("body").css("font-size", "15px")
        } else {
          $("#header").css("height", "40px")
          $("#create").css("display", "none")
          $("h1").css("font-size", "20px")
          $("th").css("height", "10px")
          $("td").css("height", "10px")
          $("body").css("font-size", "10px")
        } 
      })
      $(function() {
        var width = (window.innerWidth > 0) ? window.innerWidth : screen.width	
        if (width > 640) {
          $("#header").css("height", "80px")
          $("#create").css("display", "block")
          $("h1").css("font-size", "40px")
          $("th").css("height", "20px")
          $("td").css("height", "20px")
          $("body").css("font-size", "15px")
        } else {
          $("#header").css("height", "40px")
          $("#create").css("display", "none")
          $("h1").css("font-size", "20px")
          $("th").css("height", "10px")
          $("td").css("height", "10px")
          $("body").css("font-size", "10px")
        } 
        $(".balloon").text("remained: !{balloon} / received: !{recBalloon}") 
      })
      function chat(elem, roomId) {
        var f = document.createElement('form');
        f.action = 'room/' + roomId;
        f.method = 'GET';

        document.body.appendChild(f);
        f.submit();
      }
      function plus() {
        $("form").show();
        $(".cancel-btn").show();
      }
      function hide() {
        $("form").hide();
        $(".cancel-btn").hide();
      } 
